<% include ../partials/header %>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12">
        <span class="d-block d-md-flex align-items-center">
          <p>Hello you are welcome to Diamondhub plus!</p>
          <a class="btn ml-auto download-button d-none d-md-block" target="_blank">Diamondhub plus!</a><br>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-sm-6">
                <select class="form-control act_pack mr-3" id="package_plan" name="package[investtype]">
                  <option value="">- Select Active Package -</option>
                  <option value="investor">Investor</option>
                  <option value="partner">Partner</option>
                </select>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="mdi mdi-cube text-danger icon-lg"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">CAPITAL</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">₦0</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Initial Deposit
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="mdi mdi-receipt text-warning icon-lg"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">EARNINGS</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">₦0</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Earnings from Investment
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="mdi mdi-poll-box text-success icon-lg"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">TOTAL DEPOSIT</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">₦0</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> All Deposit with Diamonhubplus
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="mdi mdi-account-location text-info icon-lg"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">TOTAL EARNINGS</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">₦0</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> All Earnings with Diamonhubplus
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="caed-title">Deposit History</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Package</th>
                    <th>Amount Deposited</th>
                    <th>DHP Bank</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                  <thead>

                  <tbody>
                    <% var counter = 1 %>
                    <% deposits.reverse().forEach(function(pending){ %>
                    <tr>
                      <td>
                        <%= counter %>
                      </td>
                      <td>
                        <%= pending.package.investtype %>
                      </td>
                      <td>₦
                        <%= pending.amount %>
                      </td>
                      <td>
                        <%= pending.bank.bankname %>
                      </td>
                      <td class="text-info">
                        <%= pending.created.toDateString() %>
                      </td>
                      <% if(pending.declined) { %>
                      <td>
                        <mark class="bg-danger text-white">Declined</mark>
                      </td>
                      <% } else{ %>
                      <% if(pending.approved) { %>
                      <td>
                        <mark class="bg-success text-white">Approved</mark>
                      </td>
                      <% } else{ %>
                      <td>
                        <mark class="bg-warning text-white">Pending</mark> &nbsp;
                        <i class="fa fa-times text-danger cancel" data-toggle="tooltip" data-placement="top" title="Cancel investment package"
                          data-id="<%= pending._id %>"></i>
                      </td>
                      <% } %>
                      <% } %>
                      <% counter++ %>

                    </tr>
                    <% }) %>

                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 grid-margin stretch-card">
        <!--weather card-->
        <div class="card card-weather">
          <div class="card-body">
            <div class="weather-date-location">
              <% var weekdays = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'); %>
              <h3><%= weekdays[new Date().getDay()] %></h3>
              <p class="text-gray">
                <span class="weather-date"><%= new Date().toDateString() %></span>
                <span class="weather-location">Lagos, Nigeria</span>
              </p>
            </div>
            <div class="weather-data d-flex">
              <div class="mr-auto">
                <h4 class="display-3">27
                  <span class="symbol">&deg;</span>C</h4>
                <p>
                  Mostly Cloudy
                </p>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="d-flex weakly-weather">
              <div class="weakly-weather-item">
                <p class="mb-0">
                  Sun
                </p>
                <i class="mdi mdi-weather-cloudy"></i>
                <p class="mb-0">
                  30°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Mon
                </p>
                <i class="mdi mdi-weather-hail"></i>
                <p class="mb-0">
                  31°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Tue
                </p>
                <i class="mdi mdi-weather-partlycloudy"></i>
                <p class="mb-0">
                  28°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Wed
                </p>
                <i class="mdi mdi-weather-pouring"></i>
                <p class="mb-0">
                  30°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Thu
                </p>
                <i class="mdi mdi-weather-pouring"></i>
                <p class="mb-0">
                  29°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Fri
                </p>
                <i class="mdi mdi-weather-snowy-rainy"></i>
                <p class="mb-0">
                  31°
                </p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">
                  Sat
                </p>
                <i class="mdi mdi-weather-snowy"></i>
                <p class="mb-0">
                  32°
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--weather card ends-->
      </div>
      <div class="col-lg-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-primary mb-5">Available Investment Package</h2>
            <div class="wrapper d-flex justify-between">
              <div class="form-check-inline">
                <label class="form-check-label" for="check1">
                  <input type="radio" class="form-check-input" id="checkbox1" name="pack" value="something" checked>Investor
                  Package
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="check2">
                  <input type="radio" class="form-check-input" id="checkbox2" name="pack" value="something">Partner
                  Package
                </label>
              </div>
            </div>
            <br>

            <div class="card">
              <div class="card-body" id="div1">
                <h4 class="card-title">investor Package</h4>
                <ul class="list-star">
                  <li>Minimum Investment: N20,000</li>
                  <li>Maximum Investment: N1,000,000</li>
                  <li>Profit: 4% Daily and Minimum
                    ROI of 140% Monthly</li>
                  <li>Withdrawal Eligibility: Ater 7 Working Days</li>
                  <li>Duration: 35 Working Days</li>
                  <li>Withdrawal Fee: N200</li>
                  <li>Enjoy 4% Referal Bonus</li>
                  <hr>
                  <p class="mb-0"><strong>Withdrawal date :</strong> After every 7 Working days of that month<br><strong>RETURN
                      OF
                      YOUR
                      CAPITAL AFTER
                      35 DAYS.</strong></p>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-none" id="div2">
                <h4 class="card-title">Partner Package</h4>
                <ul class="list-star">
                  <li>Minimum Investment: N10,000</li>
                  <li>Maximum Investment: N5,000,000</li>
                  <li>Profit: 0.8% Daily and Minimum
                    ROI of 168% Monthly</li>
                  <li>Withdrawal Eligibility: Ater 7 Working Days</li>
                  <li>Duration: 210 Working Days</li>
                  <li>Withdrawal Fee: N200</li>
                  <li>Enjoy 4% Referal Bonus</li>
                  <hr>
                  <p class="mb-0"><strong>Withdrawal date :</strong> After every 7 Working days of each month<br><strong>RETURN
                      OF
                      YOUR
                      CAPITAL AFTER
                      210 DAYS.</strong></p>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Manage Tickets</h5>
            <div class="fluid-container">

              <div class="row ticket-card mt-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="/assets/images/faces/face1.jpg" alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">
                      <%= currentUser.firstname %>
                      <%= currentUser.lastname %> :</p>
                    <p class="text-primary mr-1 mb-0">[#23246]</p>
                    <p class="mb-0 ellipsis">Can't make payment to Diamonhubplus Polaris Bank Account.</p>
                  </div>
                  <p class="text-gray ellipsis mb-2">For some reason they have constant network issue.</p>
                  <div class="row text-gray d-md-flex d-none">
                    <div class="col-4 d-flex">
                      <small class="mb-0 mr-2 text-muted">Date Posted :</small>
                      <small class="Last-responded mr-2 mb-0 text-muted">Date.now()</small>
                    </div>
                    <div class="col-4 d-flex">
                      <small class="mb-0 mr-2 text-muted">Due in :</small>
                      <small class="Last-responded mr-2 mb-0 text-muted">2 Days</small>
                    </div>
                  </div>
                </div>
                <div class="ticket-actions col-md-2">
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Manage
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">
                        <i class="fa fa-reply fa-fw"></i>Quick reply</a>
                      <a class="dropdown-item" href="#">
                        <i class="fa fa-times text-danger fa-fw"></i>Delete Ticket</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="container-fluid clearfix">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
        <a href="#" target="_blank">Diamonhubplus</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Diamonhubplus
        <i class="mdi mdi-heart text-danger"></i>
      </span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>

<script>
  $(document).ready(function () {
    $("#checkbox1, #checkbox2").change(function () {
      if ($("#checkbox1").is(":checked")) {
        $('#div1').removeClass('d-none');
        $('#div2').addClass('d-none');
        //console.log(1);
      }
      else {
        $('#div2').removeClass('d-none');
        $('#div1').addClass('d-none');
        //console.log(2);
      }
    });

    $(".cancel").on('click', function () {
      var that = this;
      var id = $(this).data("id");

      var confirmation = confirm("Are you sure you want to cancel this investment");
      if (confirmation) {
        console.log(id);
        $.ajax({
          type: "DELETE",
          url: "/user/cancel/" + id
        }).done(function (data) {
          if (data.message == "deleted") {
            $(that).closest("tr").remove();
          }


        });
        window.location.href.replace("/");
      } else {
        return false;
      }
    });


  });
</script>
<% include ../partials/footer %>